# Bloomlyn Bot Configuration (Example)

BOT_TOKEN=your_bot_token
ADMIN_TELEGRAM_ID=your_id

PAYMENT_ACCOUNT=xxx
PAYMENT_BANK=xxx
PAYMENT_NAME=xxx

TELEGRAM_API_ID=xxx
TELEGRAM_API_HASH=xxx
TELEGRAM_SESSION_STRING=xxx
VENDOR_CHANNELS=channel1,channel2

PUBLIC_CHANNEL_ID=@your_channel

GEMINI_API_KEY=your_gemini_key

FIREBASE_PROJECT_ID=xxx
GOOGLE_APPLICATION_CREDENTIALS="service-account-key.json"

PROFIT_BAG=3000
PROFIT_BRACELET=1000
PROFIT_NECKLACE=1000
PROFIT_PERFUME=3000
PROFIT_RING=1000
